rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdminEmail() {
      return isSignedIn() &&
        request.auth.token.email == 'admin@bowpow.com';
    }

    function isOwner() {
      return isAdminEmail() ||
        (isSignedIn() &&
         firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'owner');
    }

    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}
